$primaryButtonColor: #598bf7;
$secondaryButtonColor: #ffffaa;
$atfRecAppBorderRadius: .25rem;

.atf-rec-button {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif !important;
    border: none;
    background-color: $primaryButtonColor;
    color: white;
    border-radius: $atfRecAppBorderRadius;
    padding: 5px 10px;
    text-shadow: none;
    cursor: pointer;
    outline: none;
    transition: all 200ms ease-in;
    box-shadow: #9c9c9c 0px 2px 3px 0px;

    &.atf-rec-green-button {
        background-color: #28a745;
        color: white;

        &:hover {
            background-color: darken(#28a745, 10%);
            outline: none;
        }
    }

    &.atf-rec-undo-action {
        background-color: $secondaryButtonColor;
        color: #696969;
        text-shadow: none;
        outline: none;

        &:hover {
            background-color: darken($secondaryButtonColor, 10%);
            outline: none;
        }
    }

    &:hover {
        background-color: darken($primaryButtonColor, 10%);
        outline: none;
    }

    &:disabled {
        background-color: #d0d0d0 !important;
        color: #7d7d7d !important;
        cursor: default;
    }
}

.atf-rec-buttons-group {
    display: inline-flex;
    border-radius: $atfRecAppBorderRadius;
    box-shadow: #9c9c9c 0px 2px 3px 0px;

    > .atf-rec-button {
        margin: 0;
        float: left;
        border-radius: 0;
        border-left: 1px solid #89afff;
        box-shadow: none;

        &.atf-rec-green-button {
            border-left: 1px solid #3cc35b;
        }

        &:first-child {
            border-top-left-radius: $atfRecAppBorderRadius;
            border-bottom-left-radius: $atfRecAppBorderRadius;
            border-left-color: transparent;
        }

        &:last-child {
            border-top-right-radius: $atfRecAppBorderRadius;
            border-bottom-right-radius: $atfRecAppBorderRadius;
        }
    }
}