// @import "node_modules/bootstrap/scss/bootstrap.scss";
$fa-font-path: "chrome-extension://__MSG_@@extension_id__/fonts";
$roboto-font-path: "chrome-extension://__MSG_@@extension_id__/fonts";

// @import "./_reboot.scss";
@import "node_modules/roboto-fontface/css/roboto/sass/roboto-fontface.scss";
@import "node_modules/font-awesome/scss/font-awesome.scss";
@import "./scrollbar.scss";
@import "./tooltip.scss";
@import "./button.scss";

$atfRecPopoverWidth: 23.72rem;
$atfRecPopoverAppPadding: 23.72 / 40#{rem};
$atfRecPopoverInnerPadding: 23.72 / 80#{rem};
$atfRecAppBackgroundColor: #FFFFFF;
$atfRecAppDefaultFontSize: .84rem;
$atfRecAppLinkColor: #2056da;
$atfRecAppTextColor: #454545;
$atfRecAppBoxShadow: #484848 0px 2px 19px 0px;
$atfRecAppBorderRadius: .25rem;

$atfRecAppBorderColor: #b3b3b3;
$atfRecAppBorders: 1px solid $atfRecAppBorderColor;

.atf-rec-overlay-modal {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    border-radius: $atfRecAppBorderRadius;
    box-shadow: $atfRecAppBoxShadow;
    z-index: 9000;
    pointer-events: none;
}

.atf-rec-modal-popover {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif !important;
    background-color: $atfRecAppBackgroundColor;
    color: $atfRecAppTextColor;
    width: $atfRecPopoverWidth;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    font-size: $atfRecAppDefaultFontSize;
    border-radius: $atfRecAppBorderRadius;
    box-shadow: $atfRecAppBoxShadow;
    padding: $atfRecPopoverAppPadding;
    box-sizing: border-box;
    margin: 0;
    z-index: 9001;

    * {
        box-sizing: border-box;
        // line-height: 1rem;
    }

    a {
        color: $atfRecAppLinkColor;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    label {
        margin-left: 0;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    // input[type=radio], input[type=checkbox] {
    //     &.atf-rec-font-input {
    //         border: 0;
    //         clip: rect(0 0 0 0);
    //         height: 1px;
    //         margin: -1px;
    //         overflow: hidden;
    //         padding: 0;
    //         position: absolute;
    //         width: 1px;

    //         & ~ label:before {
    //             font-family: FontAwesome;
    //             display: inline-block;
    //             font-size: .6rem;
    //             color: #535353;
    //             // width: 1rem;
    //         }

    //         &:checked ~ label:before {
    //             font-size: .6rem;
    //         }
    //     }
    // }
            
    // input[type=radio].atf-rec-font-input {
    //     & ~ label:before {
    //         content: "\f10c";
    //     }

    //     &:checked ~ label:before {
    //         content: "\f111";
    //     }
    // }

    .atf-rec-title {
        font-size: 1.1rem;
        margin: .5rem 0;
        font-weight: normal;
        color: black;

        a {
            font-size: $atfRecAppDefaultFontSize;
            color: lighten($atfRecAppLinkColor, 10%);

            &:hover {
                text-decoration: none;
            }
        }
    }

    .atf-rec-title-small {
        margin: .3rem 0;
        font-weight: normal;
        color: black;

        a {
            font-size: $atfRecAppDefaultFontSize;
            color: lighten($atfRecAppLinkColor, 10%);

            &:hover {
                text-decoration: none;
            }
        }
    }

    .atf-rec-modal-popover-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        border-color: $atfRecAppBackgroundColor;
        margin: $atfRecPopoverInnerPadding;
    }

    &[x-placement^="top"] {
        margin-bottom: $atfRecPopoverAppPadding;

        .atf-rec-modal-popover-arrow {
            border-width: $atfRecPopoverAppPadding $atfRecPopoverAppPadding 0 $atfRecPopoverAppPadding;
            border-left-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            bottom: -$atfRecPopoverAppPadding;
            left: calc(50% - $atfRecPopoverAppPadding);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="bottom"] {
        margin-top: $atfRecPopoverAppPadding;

        .atf-rec-modal-popover-arrow {
            border-width: 0 $atfRecPopoverAppPadding $atfRecPopoverAppPadding $atfRecPopoverAppPadding;
            border-left-color: transparent;
            border-right-color: transparent;
            border-top-color: transparent;
            top: -$atfRecPopoverAppPadding;
            left: calc(50% - $atfRecPopoverAppPadding);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="right"] {
        margin-left: $atfRecPopoverAppPadding;

        .atf-rec-modal-popover-arrow {
            border-width: $atfRecPopoverAppPadding $atfRecPopoverAppPadding $atfRecPopoverAppPadding 0;
            border-left-color: transparent;
            border-top-color: transparent;
            border-bottom-color: transparent;
            left: -$atfRecPopoverAppPadding;
            top: calc(50% - $atfRecPopoverAppPadding);
            margin-left: 0;
            margin-right: 0;
        }
    }

    &[x-placement^="left"] {
        margin-right: $atfRecPopoverAppPadding;

        .atf-rec-modal-popover-arrow {
            border-width: $atfRecPopoverAppPadding 0 $atfRecPopoverAppPadding $atfRecPopoverAppPadding;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            right: -$atfRecPopoverAppPadding;
            top: calc(50% - $atfRecPopoverAppPadding);
            margin-left: 0;
            margin-right: 0;
        }
    }

    input[type=date], input[type=time], input[type=datetime-local], input[type=month], input[type=number], input[type=search], input[type=text], input[type=password], input[type=datetime], input[type=week], input[type=email], input[type=url], input[type=tel], input[type=color], textarea, select {
            font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif !important;
            color: $atfRecAppTextColor;
            background-color: $atfRecAppBackgroundColor;
            border: $atfRecAppBorders !important;
            border-radius: $atfRecAppBorderRadius !important;
            padding: .125rem .5rem;
            height: 2rem;
            font-size: inherit;
            box-shadow: default !important;
            outline: none;
            transition-duration: .1s;

            &:focus {
                border-color: darken($atfRecAppBorderColor, 10%) !important;
                box-shadow: 0 .0525rem .5rem 0 #a4b7ff, inset 0 .0525rem 0 .0525rem #e4e4e4;
            }
    }

    label {
        font-weight: normal !important;
    }

    .atf-rec-append-container {
        display: flex;

        .atf-rec-append-text-container {
            flex: 1;
            display: flex;
            margin-right: 10px;

            > label {
                padding-top: 5px;
                margin-right: 5px;
                margin-bottom: 0;
            }

            #atf-rec-append-text-field {
                flex: 1;
            }
        }
    }

    .atf-rec-commands-available-actions {
        margin-bottom: .6rem;
    }

    .atf-rec-attribute-code-tip {
        font-weight: bold;
    }

    .atf-rec-no-text {
        color: red !important;
    }

    .atf-rec-element-tags-container {
        .atf-rec-element-tags {
            display: block;
            border: none;
            border-radius: $atfRecAppBorderRadius;
            margin: 10px 0;
            box-shadow: 0 2px 3px 0 #9c9c9c;

            > .atf-rec-box-title {
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                padding: 6px 8px;
                background-color: #598bf7;
                color: white;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            > .atf-rec-element-tags-list-container {
                overflow: hidden;
                display: flex;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;

                > .atf-rec-element-tags-list {
                    list-style: none;
                    padding: 0;
                    margin: 4px 0;
                    display: flex;
                    flex: 1;
                    overflow: hidden;
                    transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000);

                    > .atf-rec-nav-tab {
                        float: left;

                        > .atf-rec-nav-tabs-action {
                            display: inline-block;
                            font-weight: normal;
                            text-align: center;
                            max-width: 5.93rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            border-radius: $atfRecAppBorderRadius;
                            padding: $atfRecPopoverInnerPadding;
                            text-decoration: none;
                            color: $atfRecAppTextColor;

                            > .atf-rec-element-tag {
                                display: block;
                                overflow: hidden;
                                font-weight: bold;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }

                            > .atf-rec-element-value {
                                display: block;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                font-style: italic;
                                font-size: .85em;
                                color: gray;
                            }

                            &:hover {
                                background-color: #e8e8ff;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .atf-rec-inline-actions-body {
        width: 100%;
        height: 200px;

        .atf-rec-send-commdans {
            margin-bottom: 10px;
        }
    }

    .atf-rec-build-commands {
        list-style: none;
        padding: 0;
        margin: 0;

        .atf-rec-built-command-container {
            line-height: .95rem;
            position: relative;
            display: block;
            padding: 4px 10px;
            border: 1px solid #DDD;
            padding: 5px 10px;
            border-radius: 3px;
            background-color: whitesmoke;
            margin: 5px 0;

            input[type=text], select {
                height: 1.5rem;
                width: 10rem;
            }

            &:hover {
                .atf-rec-command-actions {
                    opacity: 1;
                }
            }

            .atf-rec-built-command {
                font-family: monospace;

                .atf-rec-command-view-switcher {
                    display: inline-block;

                    // input[type=radio].atf-rec-font-input {
                    //     & ~ label:before {
                    //         font-size: .4rem;
                    //     }

                    //     &:checked ~ label:before {
                    //         font-size: .4rem;
                    //     }
                    // }
                }
            }

            .atf-rec-built-command-disabled {
                font-weight: bold;
                color: #a20000;
                font-size: .7rem;
                margin-bottom: 2px;
            }

            .atf-rec-hover-button {
                border: none;
                background-color: transparent;
                cursor: pointer;
                margin: 0 2px;
                outline: none;

                &.atf-rec-ok {
                    color: #00ad00;
                }

                &.atf-rec-del {
                    color: #a20000;
                }

                &:hover {
                    transform: scale(1.5);
                    transition: all 200ms ease-in;
                }
            }
        }

        .atf-rec-command-actions {
            position: absolute;
            right: 0;
            top: 0;
            margin-top: .25rem;
            margin-right: .25rem;
            display: flex;
            transition: opacity .25s ease-out;
            opacity: .4;
        }
    }

    li {
        list-style: none;
        margin: 0;
    }
}

.atf-rec-badge {
    font-size: 12px;
    display: inline-block;
    font-size: 90%;
    font-weight: normal;
    line-height: 1;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    padding: 0.25em 0.4em;
    border-radius: 0.25rem;

    &.atf-rec-badge-secondary {
        color: #fff;
        background-color: #868e96;
    }
}

.atf-rec-list-h-scroll-button-container {
    display: flex;

    > .atf-rec-scroll-button {
        z-index: 1069;
        background-color: #FFFFFF;
        border: none;
        cursor: pointer;
        box-shadow: 0 0 35px 8px #FFFFFF;
        outline: none;

        &.atf-rec-disabled {
            box-shadow: none;
            cursor: default;
        }
    }
}

.atf-rec-hidden {
    display: none;
}