@import "node_modules/font-awesome/scss/font-awesome.scss";
@import "./roboto.scss";

body {
    font-family: Roboto, sans-serif !important;
    font-size: 13px;
    line-height: 1.125rem;
}

#container {
    width: 500px;
}

.atf-rec-commands-container {
    > .atf-rec-commands {
        list-style: none;
        padding: 0;
        margin: 0;

        > .atf-rec-command {
            position: relative;
            display: block;
            background-color: whitesmoke;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(221, 221, 221);
            padding: 5px 10px;
            border-radius: 3px;
            margin: 5px 0px;

            > .sort-handle {
                padding-right: 10px;
            }

            .atf-rec-command-actions {
                position: absolute;
                top: 0;
                right: 0;
                margin-top: 3px;
            }
        }
    }
}

.atf-rec-floating-button {
    border: none;
    background-color: transparent;
    padding: 4px;
    cursor: pointer;

    &.atf-rec-del {
        color: #a20000;
    }
}